# Multiple linear regression Algorithm

In [27]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [51]:
#reading the data set

df = pd.read_csv("F:/ml_assets/car_driving_risk.csv")
df

    speed  car_age  experince  risk
0     200       15        5.0    95
1      90       17        1.0    65
2     300       12        6.0    98
3     110        7        3.0    70
4     240        5        2.0    82
5     115        3       10.0    60
6      50        1        5.0    40
7     230       11        7.0    85
8     190       14       10.0    80
9     260       10        4.0    91
10    290        6        NaN    82
11    185       15        2.0    85
12    310        3       10.0    95
13     95        6        7.0    38
14     30        4        4.0    25

In [7]:
#missing value handeling

df.experince

0      5.0
1      1.0
2      6.0
3      3.0
4      2.0
5     10.0
6      5.0
7      7.0
8     10.0
9      4.0
10     NaN
11     2.0
12    10.0
13     7.0
14     4.0
Name: experince, dtype: float64

In [11]:
#data cleaning 

#df.experince.mean()


restore_value = df.experince.median()

df.experince = df.experince.fillna(restore_value)
df.experince

0      5.0
1      1.0
2      6.0
3      3.0
4      2.0
5     10.0
6      5.0
7      7.0
8     10.0
9      4.0
10     5.0
11     2.0
12    10.0
13     7.0
14     4.0
Name: experince, dtype: float64

In [31]:
#

lg = linear_model.LinearRegression()
lg.fit(df[['speed','car_age','experince']],df.risk)

LinearRegression()

In [50]:
#predicting the value

lg.predict([['10','1','5']])

C:\anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\anaconda\lib\site-packages\sklearn\base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)

array([27.32408562])