In [1]:
#libray importing

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#reading data set

df = pd.read_csv("F:/ml_assets/house price.csv")
df.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

# splite data

In [3]:
x = df.drop("price",axis=1)
y = df["price"]

print("Shape of x :",x.shape)
print("Shape of y :",y.shape)

Shape of x : (7120, 107)
Shape of y : (7120,)

# Training

In [4]:
from sklearn.model_selection import train_test_split

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.20,random_state = 1)

print("Shape of x_train :",xtrain.shape)
print("Shape of xtest :",xtest.shape)
print("Shape of ytrain :",ytrain.shape)
print("Shape of ytest :",ytest.shape)

Shape of x_train : (5696, 107)
Shape of xtest : (1424, 107)
Shape of ytrain : (5696,)
Shape of ytest : (1424,)

# feature scaling

In [5]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(xtrain)
xtrain = sc.transform(xtrain)
xtest = sc.transform(xtest)

# support vector regression ML model Training

In [6]:
from sklearn.svm import SVR

In [7]:
svr_rbf  = SVR( kernel='rbf')
svr_rbf.fit(xtrain,ytrain)

score = svr_rbf.score(xtest,ytest)*100

print("accuricy  :",score)

accuricy  : 24.082734044570408

In [8]:
svr_linear  = SVR( kernel='linear')
svr_linear.fit(xtrain,ytrain)

score = svr_linear.score(xtest,ytest)*100

print("accuricy  :",score)

accuricy  : 85.60016230839143

In [9]:
svr_poly  = SVR( kernel='poly',degree=2)
svr_poly.fit(xtrain,ytrain)

score = svr_poly.score(xtest,ytest)*100

print("accuricy  :",score)

accuricy  : 18.795441059645533

# pridction

In [10]:
xtest

array([[-0.44623891, -0.74391649, -0.37639783, ..., -0.05471275,
        -0.04782807, -0.04594768],
       [-0.44623891,  1.84898512, -0.38213344, ..., -0.05471275,
        -0.04782807, -0.04594768],
       [-0.44623891, -0.74391649, -0.83524691, ..., -0.05471275,
        -0.04782807, -0.04594768],
       ...,
       [-1.58349924, -0.74391649, -0.65744289, ..., -0.05471275,
        -0.04782807, -0.04594768],
       [ 0.69102142,  0.55253431,  1.07471239, ..., -0.05471275,
        -0.04782807, -0.04594768],
       [ 1.82828175, -2.0403673 ,  3.60927999, ..., -0.05471275,
        -0.04782807, -0.04594768]])

In [11]:
ytest

6711     70.0
823      58.4
3500     25.0
1537     36.0
513      38.3
        ...
4008     58.0
1564     58.4
6803     50.0
5390    399.0
3315    314.5
Name: price, Length: 1424, dtype: float64

In [12]:
predict_value = svr_linear.predict(xtest)
predict_value

array([ 70.59405578,  58.77923266,  10.15732862, ...,  49.87549177,
       324.78254942, 306.61401879])