# Random Forest Regression Algorithm

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#reading data set

df = pd.read_csv("F:/ml_assets/house price.csv")
df.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

# Spliting the data

In [3]:
x = df.drop("price",axis=1)
y = df["price"]

print("Shape of x :",x.shape)
print("Shape of y :",y.shape)

Shape of x : (7120, 107)
Shape of y : (7120,)

# Training data

In [4]:
from sklearn.model_selection import train_test_split

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.20,random_state = 1)

print("Shape of x_train :",xtrain.shape)
print("Shape of xtest :",xtest.shape)
print("Shape of ytrain :",ytrain.shape)
print("Shape of ytest :",ytest.shape)

Shape of x_train : (5696, 107)
Shape of xtest : (1424, 107)
Shape of ytrain : (5696,)
Shape of ytest : (1424,)

# Random Forest Regression Model

In [5]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(n_estimators=100,criterion="mse")
rfr.fit(xtrain,ytrain)

C:\anaconda\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(

RandomForestRegressor(criterion='mse')

In [6]:
rfr.score(xtest,ytest)

0.932764244508159

In [7]:
rfr_2 = RandomForestRegressor(n_estimators=500,criterion="mse")
rfr_2.fit(xtrain,ytrain)

C:\anaconda\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(

RandomForestRegressor(criterion='mse', n_estimators=500)

In [8]:
rfr_2.score(xtest,ytest)

0.9287523421966045

# Predcting

In [11]:
ytest

6711     70.0
823      58.4
3500     25.0
1537     36.0
513      38.3
        ...
4008     58.0
1564     58.4
6803     50.0
5390    399.0
3315    314.5
Name: price, Length: 1424, dtype: float64

In [10]:
rfr.predict(xtest)

array([ 69.7663 ,  58.50335,  25.9678 , ...,  50.0902 , 401.88   ,
       310.02   ])