# Support Vector Machine

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("F:/ml_assets/car_driving_risk.csv")
df

    speed  car_age  experince  risk
0     200       15        5.0    95
1      90       17        1.0    65
2     300       12        6.0    98
3     110        7        3.0    70
4     240        5        2.0    82
5     115        3       10.0    60
6      50        1        5.0    40
7     230       11        7.0    85
8     190       14       10.0    80
9     260       10        4.0    91
10    290        6        NaN    82
11    185       15        2.0    85
12    310        3       10.0    95
13     95        6        7.0    38
14     30        4        4.0    25

# checking NULL values

In [3]:
df.isnull().sum()

speed        0
car_age      0
experince    1
risk         0
dtype: int64

# handeling null values

In [4]:

null_value = df.experince.mean()
null_value

5.428571428571429

In [5]:
df.experince = df.experince.fillna(null_value)

In [6]:
df.isnull().sum()

speed        0
car_age      0
experince    0
risk         0
dtype: int64

# X Y seperating

In [8]:
x = df.drop(["risk"],axis=1)
x

    speed  car_age  experince
0     200       15   5.000000
1      90       17   1.000000
2     300       12   6.000000
3     110        7   3.000000
4     240        5   2.000000
5     115        3  10.000000
6      50        1   5.000000
7     230       11   7.000000
8     190       14  10.000000
9     260       10   4.000000
10    290        6   5.428571
11    185       15   2.000000
12    310        3  10.000000
13     95        6   7.000000
14     30        4   4.000000

In [9]:
y = df['risk']
y

0     95
1     65
2     98
3     70
4     82
5     60
6     40
7     85
8     80
9     91
10    82
11    85
12    95
13    38
14    25
Name: risk, dtype: int64

# Training

In [14]:
from sklearn.model_selection import train_test_split

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.30,random_state=2)

In [19]:
#support vector machine algorithm 

from sklearn.svm import SVC

model = SVC()

In [20]:
model.fit(xtrain,ytrain)

SVC()

In [21]:
model.predict(xtest)

array([80, 85, 70, 80, 85], dtype=int64)

In [24]:
model.score(xtest,ytest)

0.0

In [25]:
ytest

11    85
4     82
5     60
0     95
9     91
Name: risk, dtype: int64